/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */

h1{
    font-weight: bold;
    font-size: 40px;
}

/* CONTENITORE */
.container{
    margin: 0 auto;
    max-width: 1180px;
    background-color: white;
}

.header-container{
    margin: 0 auto;
    max-width: 500px;
    margin-top: 80px;
}

header{
    min-height: 500px;
    padding-top: 20px;
    background-image: url('img/jumbo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

h4{
    margin: 10px 0;
}

main section{
    margin: 50px 0;
}

/* Immagini */

.back-image{
    width: 550px;
    height: 550px;
}

/* CONTENITORE FLEX */

.flex-container{
    display: flex;
    align-items: flex-start;
}

/* FLEX PROPERTY */

.content-evenly{
    justify-content: space-evenly;
}

.content-between{
    justify-content: space-between;
}

.content-center{
    align-content: center;
}

.content-right{
    justify-content: flex-end;
}

.align-center{
    align-items: center;
}

/* FLEX ITEM */

.flex-item{
    width: 50%;
    min-height: 300px;
}

/* SETTING UL, LI, A */

ul{
    list-style-type: none;
}

li{
    display: inline;
    margin:0 10px;
}

li > a{
    color: #fff;
}

a{
    text-decoration: none;
    color: black;
}

/* Button */

.button{
    width: 60px;
    height: 30px;
    border-radius: 15px 15px 15px 15px;
    background-color: aqua;
    line-height: 30px;
}

.white-button{
    background-color: #fff;
}

.black-button{
    background-color: black;
}

.margin{
    padding-top: 20px;
}

.par-button{
    margin: 0 15px;
    min-height: 50px;
    line-height: 30px;
    width: 100px;
    border-radius: 15px 15px 15px 15px;
}

/* Testo */

.text-center{
    text-align: center;
}

p{
    margin-top: 30px;
}

.white-text{
    color: white;
}

/* PADDING DEL TESTO DEI BLOCCHI */

.black-text{
    color: black;
    display: block;
}

/* Flex container annidato */

.language{
    width: calc(100% / 3);
    min-height: 300px;
    color: #5C6EA9;
}

.link{
    width: calc(100% / 3 * 2);
    color: #5C6EA9;
    min-height: 600px;
}

.grey-section{
    background-color: #F6F6F6;
}

.column-link{
    width: calc(100% / 4);
}

.back-stars{
    background-image: url('img/stars.svg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60px;
    max-width: 500px;
    margin: 0 auto;
}

.third-section-button{
    width: 150px;
    height: 50px;
    background-color: #255EE9;
    color: #F6F6F6;
    padding: 5px;
    border-radius: 10px;
}

/* FOOTER */

footer{
    background-color: #23272A;
    margin: 0 auto;
    max-width: 1180px;
}

footer li{
    display: block;
    list-style-type: none;
    margin: 0;
    color: #F6F6F6;
    margin-top: 15px;
}

footer section{
    padding: 100px;
}

.pie{
    background-color: #23272A;
    padding: 5px 100px;
}

#hr-special{
    margin: 0 100px;
}

#tecnl{
    margin-top: 0;
    padding-top: 50px;
}