/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', 
    Helvetica, Arial, sans-serif;
}

/* GENERICS */

img{
    display: block;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* UTILS */

.padding{
    padding: 10px 200px 100px 200px;
}

.pad-t-10{
    padding-top: 10px;
}

.pad-r-5{
    padding-right: 5px;
}

.content-right{
    justify-content: flex-end;
}

.content-left{
    justify-content: flex-start;
}

.content-center{
    align-content: center;
}

.content-between{
    justify-content: space-between;
}

.tb-margin30{
    margin: 30px 0;
}

.rl-margin10{
    margin: 0 10px;
}

.text-center{
    text-align: center;
}

.center-block{
    margin: 0 auto;
}

.flex-container{
    display: flex;
}

.container{
    max-width: 50%;
    margin: 0 auto;
}

.flex-item-25{
    flex-basis: calc(100% / 4);
    align-items: flex-start;
}

.flex-item-50{
    flex-basis: calc(100% / 2);
    align-items: flex-start;
}

.end-block{
    text-align: end;
}

.black-text{
    color: black;
}

.white-text{
    color: white;
}

/* FLEX UTILS */

.align-center{
    align-items: center;
}

/* HEADER */

.border{
    border: 1px solid black;
}

header{
    background-image: url('img/jumbo.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}

nav{
    padding: 20px 200px;
}

header li{
    display: inline;
    padding: 10px;
}

header ul{
    text-align: center;
}

header nav div li a{
    color: white;
    text-align: center;
}

.button{
    min-width: 60px;
    min-height: 30px;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    padding: 2px;
    line-height: 30px;
}

.login-button{
    background-color: white;
}

.d-button-mac{
    background-color: white;
    color: black;
    font-size: small;
}

.open-button{
    background-color: black;
    color: white;
    font-size: small;
}

header nav div a{
    color: black;
    line-height: 30px;
}

/* TESTO NELL'HEADER */

header > div > h1{
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 40px;
}

/* testo del paragrafo nell'header */
header > div > h1, header > div > p{
    text-align: center;
    color: white;
}

/* modello le scritte dei button nell'header */
header .d-button-mac a, header .open-button a{
    font-size: 12px;
    padding: 5px 2px;
}

/* FLEX SECTION */

section{
    margin: 100px 0;
}

main section h1{
    margin-bottom: 20px;
}

/* immagine dentro div */
.image{
    width: 60%;
    padding-top: 15px;
}

/* colore grigio */

.bgc-gray{
    background-color: #F6F6F6;
}

.bgc-blue{
    background-color: #7289DA;
}

/* testo nell'immagine */
.text-right{
    width: 40%;
    padding: 50px 200px 50px 50px;
}

.text-left{
    width: 40%;
    padding: 50px 50px 50px 200px;
}

main > section{
    min-height: 300px;
}

/* Setting del testo e del titolo delle section */
main h1{
    font-size: 35px;
}

main p{
    font-size: 15px;
    padding-top: 20px;
}

.block-img{
    width: 700px;
}

#third-img{
    width: 100%;
}

footer{
    background-color: #23272A;
    min-height: 500px;
}

.right-footer{
    width: 60%;
    color: white;
}

footer .left-footer h3, .title-li{
    color: #7289DA;
    font-weight: bold;
}

.left-footer{
    width: 40%;
    color: white;
}

footer .right-footer .annidate li{
    margin-top: 10px;
}

hr{
    color: wheat;
}

#last-section.flex-container.content-between{
    margin: 50px 0;
}